[ssh]
[ssh.innser_jump]
remoteAddress = "aaaaa.com:1111"
localPort = "11111"
sshServerAddress = "bbbbb.com:2222"
sshUser = "yourname"
sshPassword = "yourpassword"
sshPriveteKeyPath = "yourpath"
sshPrivateKeyPassword = "yourprivatekeypassword"

[ssh.useInnerJump]
require = "innser_jump"
remoteAddress = "cccc.com:3333"
localPort = "2222222"
sshServerAddress = "127.0.0.1:11111"
sshUser = "yourname"
sshPassword = "yourpassword"
sshPriveteKeyPath = "yourpath"
sshPrivateKeyPassword = "yourprivatekeypassword"